.teste {
    color: blue;
    font-size: 30px !important;
    font-weight: bold !important;
    padding: 0%;
    text-align: center;
}
.logo {
    height: 325px;
    width: 325px;
}
.div {
    background-color: whitesmoke;
    width: 350px;
    border-bottom: 1px solid rgb(190, 186, 186);
    padding: 0%;
}
.texto {
    color: green;
}
.Importante {
    font-weight: bold !important;
    font-size: x-large !important;
}